
@font-face {
    font-family: 'spoqahansansneo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;
}

* {
    font-family: 'spoqahansansneo';
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
}

body
{
    margin:0px;
    padding:0px;
    width:100%;
    display: block;
    background-color: white;
}

span {
    display: block;
    color: white;
}

.title{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 96px;
    line-height: 120px;
    margin-top: 240px;

    overflow:hidden;
    white-space:wrap;
    text-overflow:ellipsis;
}   

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
/** section 1 **/

#section_1 {
    background-size:cover;
}

#section1_trans {
    width:100%; 
    height:100%; 
    background-color: rgba(0, 0, 0, 0.6);
    display:flex;
    justify-content: center; 
    align-self: center; 
    flex-direction: column;
}
#section1_span_wrapper {
    padding: 0 5%;
}

#section1_text1 {
    color:#00F0FF; 
    font-weight: 700; 
    font-size: 40px;
    line-height: 50px;
}

#section1_text2 {
    font-weight: 700;
    font-size: 150px;
    line-height: 187.8px;
     margin-top:32px
}

#section1_text3 {
    font-weight: 500; 
    font-size: 28px;
    line-height: 35.06px; 
    margin-top:40px
}

/** section 2 **/
#section_2 {
    height: auto;
    padding-top:128px;
    padding-bottom:128px;
    background-color: white;
}

#section_2 > div {
    width:100%;
}

#section_2 span {
    font-weight: 700;
    font-size: 120px;
    line-height: 150px;
    color: black;
    width: 100%;
    text-align: center;
    margin-top: 28px;

    overflow:hidden;
    white-space:wrap;
    text-overflow:ellipsis;
}

/** section 3 **/

#section_3 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height:auto; 
    background-color:black;
    padding-bottom: 240px;
}

.dv_product_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-top: 240px;
}

#section_3.dv_product_wrapper:nth-child(1) {
    margin-top: 160px;
}

.dv_product_wrapper img {
    width: 58%;
}

.product_text_wrapper {
    width: 42%;
    margin-left:6.5%; 
    margin-right:4%
}

.product_text_wrapper .dv_name {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.product_text_wrapper .dv_title {
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    margin-top:12px;
}

.product_text_wrapper .dv_content {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-top:20px;
    color: #dddddd;
}    

/** section 4 **/
#section_4 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height:auto; 
    background-color:white;
    padding-bottom:240px;
}

#section_4 > .title {
    color:black;
}

/** section 5 **/
#section_5 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: auto;
    background-color:white;
    padding-bottom: 296px;
}

#section_5 > .title {
    color:black;
}

#section5_content {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-top:19px;
    color:#555555;
}

#logo_wrapper {
    width: 100%;
    height: 100px;
    margin-top:120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#logo_wrapper img {
    height: 100%;
    margin-left: 25px;
    margin-right: 25px;
}

/** gnb **/
#gnb_wrapper {
    position: fixed;
    left: 5%;
    margin-right: 5%;
    top: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px; 
    z-index: 10000;
    display: flex;
    flex-direction: row;
    background: #F1F0F1;
    border-radius: 10px;
    align-items: center;
}

#gnb_wrapper_flex {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 4px 0;
}

#gnb_wrapper img {
    height: 32px;
}

#gnb_wrapper span {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    padding-left:20px;
    padding-right:20px;
    padding-top:8.5px;
    padding-bottom:5.5px;
    background-color: white;
    color: #767676;
    border-radius: 20px;
    margin-left:12px;
    cursor: pointer;
}

#gnb_wrapper span:hover {
    color: black;
}

#gnb_wrapper span:active {
    color: black;
}

/** bottom arrow **/
#bottom_arrow_wrapper {
    display: flex;
    position: fixed;
    width: 44px;
    height: 44px;
    right: 5%;
    bottom: 25px;
    z-index: 10000;
    background: white;
    border: 1px solid #DDDDDD;
    border-radius: 100px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.12);
    justify-content: center;
    cursor: pointer;
}

#bottom_arrow_wrapper img {
    width:16px;
}


#product_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 160px;
    row-gap: 120px;
    column-gap: 3%;
}

.item_wrapper {
    width: 92%;
}

.item_wrapper img {
    width: 100%;
}

.item_title {
    color:black;
    margin-top: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.item_content {
    color:#555555;
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

/** section 6 **/  
#section_6 {
    height: auto;
    padding-top:180px;
    padding-bottom:180px;
}
#section_6 > div {
    width: 100%;
}

#section6_title{
    margin-left: 92px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: black;
}

#slider_wrapper {
    width:calc(100% - 48px); 
    margin:0 auto; 
    margin-top: 48px;
    border: 1px solid #DDDDDD;
}

.carousel_cell {
    width: 18%;
    border-left: 1px solid #DDDDDD;
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carousel_cell img {
    margin: 0 auto;
    display: block;
    width: calc(100% - 24px);
    border: 1px solid #EDEDED;
}

.carousel_cell_title {
    margin: 0 auto;
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    color: black;
    width: calc(100% - 24px);
}

.carousel_cell_content {
    margin: 0 auto;
    margin-top:10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #343434;
    word-wrap: break-word;
    width: calc(100% - 24px);
}

.carousel_cell_date {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #767676;
    margin: 0 auto;
    margin-top:40px;
    width: calc(100% - 24px);
}

#contact_wrapper {
    width: 100%;
    margin: 0 auto;    
    padding-top: 150px;
    padding-bottom: 154px;
}

#contact_wrapper_left {
    padding-left: 92px;
    width:50%;
}

#contact_wrapper > div {
    display:flex; 
    flex-direction: row;
}

#contact_pc {
    display: block;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-top: 21px;
    font-style: normal;
    line-height: 22px;
    color: #747474;
    display: block;
}

#contact_mobile {
    display: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-top: 21px;
    font-style: normal;
    line-height: 22px;
    color: #747474;
    display: block;
}

#contact_wrapper_left > span:nth-child(1) {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    font-style: normal;
    color: white;
}

#contact_wrapper_right {
    width:50%;
    display:flex; 
    justify-content: space-between;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 92px;
    margin-top:10px;
}


#contact_wrapper_left img {
    width: 35px; 
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 47px;
}


.light_span {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

input[type="text"]{
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    border: 2px solid rgb(232,230,230);
    color: white;
    padding-left: 16px;
}

input[type="email"] {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    border: 2px solid rgb(232,230,230);
    color: white;
    padding-left: 16px;
}

textarea {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    border: 2px solid rgb(232,230,230);
    color: white;
    padding-left: 16px;
    padding-top: 15px;
}

input::placeholder {
    color: #999999;
}

textarea::placeholder {
    color: #999999;
}
    
textarea:hover,input:hover {
    resize: none;
    background-color: transparent;
    box-sizing: border-box;
    border: 2px solid white;
}

input[type="checkbox"] {
    display: none;
}

input[type="submit"] {            
    font-weight: 400;
    font-size: 16px;
    color: white;
    background-color: #0067FF;
    border-radius: 4px;
    border-width: 0px;
    cursor: pointer;

    padding: 14px 54.5px;
    align-self: flex-start;    
    margin-top:30px
}

input[type="submit"]:hover {
    background-color: #C3C3C3;
    border-color: #C3C3C3;
    color: white;
}

input[type="submit"]:disabled {
    background-color: #C3C3C3;
    border-color: #C3C3C3;
    color: white;
}

#section_7 {
    height: auto;
    background-size:cover
}

#section_7 > div {
    width:100%; 
    height:100%; 
    background-color: rgba(0, 0, 0, 0.7);
}

.checkbox {
    width: 22px;
    height: 22px;
    background-color: #C3C3C3;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox img {
    padding-top:5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.checked {
    background: #0067FF;
}
label {
    margin-left: 8px;
    align-self: center;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

footer {
    background-color: black;
    padding : 42px 92px 49px 92px;
}

footer > div:nth-child(1) {
    display:flex;
    flex-direction: row;
}

footer > div:nth-child(2) {
    margin-top:40px;
    width:100%;
    height:1px;
    background: rgba(217, 217, 217, 0.5);
}

#footer_img {
    width: 106.73px;
    height: 36.99px;
}

#copyright {
    margin-left: 170px;
    margin-top: 24.5px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #999999;
}

#footer_span_wrapper {
    margin-left:64px;
}

.footer_content {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
    margin-left:6px;
}

.margin_right_33 {
    margin-right:33px;
}


#pc_footer {
    display: block;   
}

#mobile_footer {
    display: none;
}
